 {# ? Feuille : Créer un nouvel utilisateur #ModeAdmin #} 

     {% extends 'base.html.twig' %}
     
         {% block metaTitle %}
             " Créer un nouvel ingrédient "
         {% endblock %}

         {% block title %}
             Créer un nouvel ingrédient
         {% endblock %}
         
         {% block body %}

             <main class="Form">  
 
                 <div class="text-center col-12">

                     {# *********************************************** #}

                     <section>

                         <h1> Créer un nouvel ingrédient </h1>
                          
                             <hr/>

                                 <p> 
                                     <em> Vous pouvez créer un nouvel ingrédient manuellement! </em>  📇 
                                 </p>

                             <hr/> 

                     </section>

                     {# *********************************************** #}

                      <article class="flex-container4 text-center">

                         {{ include('user_ingredient/_form.html.twig') }} 

                         <a href="{{ path('user_ingredient_index') }}" type="submit" class="btn btn-lg  btn-success col-12">
                             Retour à la liste
                         </a>

                     </article>

                     {# *********************************************** #}
        
                 </div>

             </main>  
     
     {% endblock %}
     