{% extends 'base.html.twig' %}

{% block title %}New Ingredients{% endblock %}

{% block body %}
    <h1>Create new Ingredients</h1>

    {{ include('user_ingredient/_form.html.twig') }}

    {# <a href="{{ path('user_ingredient_index') }}">back to list</a> #}
{% endblock %}
