{% extends 'base.html.twig' %}

{% block title %}Edit Ingredients{% endblock %}

{% block body %}
    <h1>Edit Ingredients</h1>

    {{ include('administration_ingredients/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('administration_ingredients_index') }}">back to list</a>

    {{ include('administration_ingredients/_delete_form.html.twig') }}
{% endblock %}
