 {# ? Feuille : Modifier une recette #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Modifier un ingrédient "
     {% endblock %}

     {% block title %}
         Modifier un ingrédient
     {% endblock %}
     
     {% block body %}

        <main class="Form"> 

             <section class="text-center">
   
                 <h1 class="h1 mb-3 font-weight-normal"> Modifier un ingrédient </h1>

             </section>  

             {# <article class="btn-group-vertical"> #}

                {{ include('administration_ingredients/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('administration_ingredients/_delete_form.html.twig') }}
                 <a href="{{ path('administration_ingredients_index') }}" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                     Retour à la liste
                 </a>

             {# </article>  #}

         </main>    

     {% endblock %}
