 {# ? Feuille : Gestion des ingrédient #ModeAdmin #}  
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Créer un nouvel ingrédient "
     {% endblock %}

     {% block title %}
         Créer un nouvel ingrédient
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div class="text-center col-12">

                 <section>
   
                     <h1> Créer un nouvel ingrédient </h1>

                     <hr/>

                         <p> 
                             Créer un nouvel ingrédient! 👨‍🍳
                         </p> 

                     <hr/>

                 </section> 

                 <article>

                     <div class="text-center">
                         {{ include('administration_ingredients/_form.html.twig') }}
                     </form> 
     
                     <a href="{{ path('administration_ingredients_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                         Retour à la liste
                     </a>
 
                 </article>

             </div>      

         </main>      

     {% endblock %}
 