 {# ? Feuille : Gestion des ingrédient #ModeAdmin #}  
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Créer un nouvel ingrédient "
     {% endblock %}

     {% block title %}
         Créer un nouvel ingrédient
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div  class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section class="text-center">
   
                     <h1 class="h1 mb-3 font-weight-normal"> Créer un nouvel ingrédient </h1>

                     <hr style="color:white;"/>

                     <p class="lead"> 
                         Créer un nouvel ingrédient! 👨‍🍳
                     </p> 

                     <hr style="color:white;"/>

                 </section> 

                 {# *********************************************** #}

                 <article>

                     <div class="text-center">
                         {{ include('administration_ingredients/_form.html.twig') }}
                     </form> 
     
                     <a href="{{ path('administration_ingredients_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                         Retour à la liste
                     </a>
 
                 </article>
                 
                 {# *********************************************** #}

             </div>      

         </main>      

     {% endblock %}
 