{% extends 'base.html.twig' %}

     {% block title %}
         Accueil
     {% endblock %}
     
     {% block body %}
                  
         <main class="Form">
                 
                     <section class="text-center">
     
                         <h1 class="plantFont h1 mb-3 font-weight-normal"> Accueil </h1>

                         <p class="lead"> 
                             Bienvenue sur Bravo Cuistot ! 
                         </p>
                       
                     </section>   

         </main>

 {# ! TEST  #}

         <div id="container" class="cont_ainer">

         <nav>
         
         <div id="circlemain" class="circle_main" >
         	
         
         		<div class="arc1 line1">
                    <div class="arc1 line2">
                     <div class="arc1 line3">
         
                     </div>
                   </div>
         	</div>
         	
         
         	
         	<div class="reactor">
         	<div class="navcontainer" onclick="navTog(this); barWidth();">
         <div class="hamContainer" onclick="hamFunction(this)">
           <div class="hbar1"></div>
           <div class="hbar2"></div>
           <div class="hbar3"></div>
           <div class="hbar4"></div>
           <div class="hbar5"></div>
         </div>
          <span class="reacttext">CSS</span>
          	</div>	
         	</div>
         	
         	
         	
         	<span  id="barleft" class="bar_left ">
         		<ul class="nav_top" id="navtop">
         		<li><a href="www.google.com">Home</a></li>
         		<li><a href="www.google.com">Apps</a></li>
         		<li><a href="www.google.com">Games</a></li>
         			
         
         		</ul>	
         	</span>
         	
         	
         	<span id="barright" class="bar_right">	
         	<ul class="nav_bottom" id="navbottom">
         	<li><a href="www.google.com">guide</a></li>
         	<li><a href="www.google.com">Index</a></li>
         	<li><a href="www.google.com">Review</a></li>
         	</ul>
         	</span>
         	
         	
         </div>
         </nav>
         </div>

     
     {% endblock %}

