{% extends 'base.html.twig' %}

     {% block title %}
         Accueil
     {% endblock %}
     
     {% block body %}
     
         {# <style>
             .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
             .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
         </style> #}
                  
         <main class="form-signin">
     
             {# <form>      #}
     
                 <div id="inscriptionForm">                 
                    
                     {# *** Conteneur du titre du formulaire *** #}
                     <div id="bloc_page1" class="text-center">
     
     
                         {# *** Titre du formulaire *** #}
                         <h1 id="plantFont" class="h1 mb-3 font-weight-normal"> Accueil </h1>
                         {# *** Phrase d'accroche du formulaire *** #}
                         <p class="lead"> 
                             Bienvenue sur Bravo Cuistot ! 
                         </p>
                       
                     </div>   
     
                 </div> 

                    
                     
             {# </form> #}
     
         </main>
     
     {% endblock %}

{# <div class="container py-4">
    
         <div class="row align-items-md-stretch">

             <div class="col-md-6">

                 <div class="h-100 p-5 text-white bg-dark rounded-3">

                     <h2>Change the background</h2>

                     <p>
                         Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. 
                         Then, mix and match with additional component themes and more.
                     </p>

                     <button class="btn btn-outline-light" type="button">Example button</button>

                 </div>

             </div>

             <div class="col-md-6">

                 <div class="h-100 p-5 bg-light border rounded-3">

                     <h2>Add borders</h2>
                     <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                     <button class="btn btn-outline-secondary" type="button">Example button</button>

                 </div>

             </div>

         </div>
              
     </div> #}