{% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Accueil "
     {% endblock %}

     {% block title %}
         Accueil
     {% endblock %}
     
     {% block body %}

         {% if not app.user%}

             {# ? Partie 1 de l'accueil du site: Bienvenue #}

              <div class="bg1">

                 {# ? Breadcrums n°1 #}
                 <a id="bienvenue"></a>	   

                 <br/>

                     <section id="ctaButtonConteneur1" class="presentation first">

                     {# ? Conteneur de gauche #}

                         <div class="product-presentation"> 

                             {# ? Titre d'accroche #}
                         
                             <h2 class"phraseAccroche"> 

                                 <em> 
                                     Vos recettes préférées <br/> 
                                     sont à l'affiche 
                                 <em>

                             </h2> 

                             <br/>

                             {# ? Bouton Call-To-Action CTA #}

                             <a name="callToActionButton1" href="{{path("app_register")}}" class="btn btn-success btn-lg px-4 gap-3 glow" >                            
                                 S'inscrire maintenant 
                             </a> 

                             <br/>

                             {# ? Phrase accroche #}

                             <p>
                                 0.00€ / par mois. Essayez c'est gratuit!            
                             </p>
 
                         </div>   

                         {# ? Conteneur de droite #}

                             {# 
                                 <div class="image-presentation">  
                                 </div>
                             #}

                     <section>  
                
             </div>

         {% endif %} 

         {% if app.user%}    

         {# ? Partie 2 de l'accueil du site: Présentation #}

             <div class="bg2">

                 {# ? Breadcrums n°2 #}
                 <a id="presentation"></a>	

                 <br/>
                                          
                 {# ************************************** #} 

                 {# ? Phrase d'accueil du visiteur #} 

                     <p class="text-center col-12">
                         
                         <em> Bienvenue sur Bravo Cuistot 
    
                             {% if app.user %}
                                 {{ app.user.username }} ! 
                             {% endif %}  

                         </em> 🏡 

                     </p> 

                 {# ************************************** #} 

                 <div class="text-center col-12">

                     <hr class="homeDivider3"/>

                     {# ************************************** #} 

                     {# ? Partie: Description brève du site #}

                     <article class="flex-container2">

                         <div class="row">

                             {# ************************************** #} 

                             {# ? Bloc n°1: 10 x Plus Appétissant #} 

                             <div class="col-md-4 col-sm-6 col-xs-12">

                                 <div class="service-item">
                                 
                                     🍝

                                     <h4> 10 x Plus Appétissant </h4>

                                     <p>
                                         Rechercher ou concever vos propres recettes. <br/>
                                         Créer un compte gratuitement et accéder à des tonnes de recettes et plats du monde entier. <br/>
                                     </p>
                                
                                 </div>

                             </div>

                             {# ************************************** #} 

                             {# ? Bloc n°2: Manager votre profil #} 

                             <div class="col-md-4 col-sm-6 col-xs-12">
                             
                                 <div class="service-item">
                                 
                                     👨‍🍳
                                 
                                     <h4> Manager votre profil </h4>
                                 
                                     <p>
                                         Intéragissez avec les autres <i> Cuistot </i>. <br/>
                                         Ajouter de nouvelles recettes en favoris, noter, commenter des plats et faites vous de nouveaux ami(e)s.
                                     </p>
                               
                                 </div>

                             </div>

                             {# ************************************** #} 

                             {# ? Bloc n°3: Plateforme dédié #} 

                             <div class="col-md-4 col-sm-6 col-xs-12">

                                 <div class="service-item">
        
                                     📡

                                     <h4> Plateforme dédié </h4>
                                      
                                     <p>
                                         Bravo Cuistot à été concu pour les gourmets. <br/>
                                         Nous restons à votre service afin d'améliorer votre expérience de navigation sur notre plateforme.  
                                     </p>

                                 </div>

                             </div>

                         </div>

                     </article>

                     {# ******************** #} 

                     <hr class="homeDivider4"/>

                 </div> 
  
             </div> 

         {% endif %}      
         
  {% endblock %}  
