{% extends 'base.html.twig' %}

     {% block title %}
         Accueil
     {% endblock %}
     
     {% block body %}
                  
         <main class="Form">
                 
                     <section class="text-center">
     
                         <h1 class="plantFont h1 mb-3 font-weight-normal"> Accueil </h1>

                         <p class="lead"> 
                             Bienvenue sur Bravo Cuistot ! 
                         </p>
                       
                     </section>   

         </main>
     
     {% endblock %}

