
 {# ? Partie: Footer #}
{#  
     <div class="footerMain">

         <div class="container px-4" id="featured-4">
         
             <h2 id="titleblock" class="pb-2 border-bottom"> À propos de Bravo Cuistot </h2>
               
                 <div class="row">      #}

                     {# ***** Partie: Informations ***** #}

                     {# <div class="feature col">
       
                         <h2> Informations </h2>
     
                         <p> 
                             Projet Etudiant <br/>
                             CRP Beauvoir, <br/>
                             Session 2020 - 2021 
                         </p>
                            
                     </div> #}
     
                     {# ***** Partie: Services ***** #}

                      {# <div class="feature col">
                            
                         <h2> Descriptions </h2>
     
                         <p> 
                             Site Web et Web Mobile, <br/>                           
                             de recettes de cuisine.
                         </p>
       
                     </div>  #}
                             
                     {# ***** Partie: Crédits ***** #}

                     {# <div class="feature col">
                            
                         <h2> Crédits </h2>                          
                          
                         <p> 
                             Christophe Laborde, <br/>
                             Guillaume Debucquet, <br/>
                             Jordan Carmont
                         </p>
                                   
                     </div>

                 </div>
         
         </div>

     </div> #}

     
     <footer class="my-5 pt-5 text-muted text-center text-small">
       
         <p class="mb-1">© 2020-2021 Bravo Cuistot | Développé par:</p>

         {# <ul class="list-inline"> #}
         <ul class="">
             <li class="list-inline-item"><a href="#">Christophe Laborde</a></li>
             <li class="list-inline-item"><a href="#">Guillaume Debucquet</a></li>
             <li class="list-inline-item"><a href="#">Jordan Carmont</a></li>
         </ul>

     </footer>




