<div class="row">
    <div class="col-3">
        <p>1er colonne</p>
    </div>
    <div class="col-3">
        <p>2eme colonne</p>
    </div>
    <div class="col-3">
        <p>3eme colonne</p>
    </div>
    <div class="col-3">
        <p>4eme colonne</p>
    </div>
</div>