 {# ? Partie: Header #}
 
         <div class="container">

             <header class="d-flex flex-wrap align-items-center justify-content-between">

                 <div>

                     {% if app.user %}
                     
                        <p class="textPink"> vous etes connecter en tant que : 
                            {{app.user.login}}
                         {% if app.user.avatar %}

                             <img src="/uploads/avatar/{{app.user.avatar}}">

                         {% else %}

                             <p class="textPink"> placeholder </p>

                         {% endif %}

                     {% else %}
                         
                         {# * Si pas utilisateur => modal de connection * #}
                         {% include 'partials/loginModal.html.twig' %}

                     {% endif %}
       
                 </div>

                 <figure> 
                     <img src="/logo.png" alt="Logo du site" >
                 </figure>

                 {# ********** Partie: SideBar ********** #}

                 <div class="">

                     <div id="myNav" class="sideBar_Cuistot">

                         {# <hr style="color:bleu;"/> #}
                         
                         {# ? Animation Bouton " Close " du Menu de navigation #}

                         <article>
		
		                	 <audio id="MenuNavigationClose" onclick="SoundAnimationBoutonClose()">
		                    	 <source src="/Sound/MGS_MenuOff1.mp3" type="audio/mpeg"></source>
		                     </audio>

                             <a href="javascript:void(0)" class="closebtn" preload="auto" onmousedown="SoundFxMenuClose()" onclick="closeNav()"> &times;  </a>
                        
                             <script>
		                		 var audioDuBoutonClose = document.getElementById("MenuNavigationClose");
		                	  	 function SoundFxMenuClose() {
		                			 audioDuBoutonClose.play ();
		                		 }
		                	 </script>
                 
		                 </article>

                         <hr style="color:rgba(25,135,84,0.9);"/>

                         <div class="overlay-content">
                             
                             {# *** Titre *** #}
                             <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                
                                 <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                              
                                     <span class="h1"> 
                                         Menu de navigation 💻
                                     </span>

                             </a>
            
                                 <hr style="color:rgba(25,135,84,0.9);"/>

                             <ul class="nav nav-pills flex-column">

                                 {# *** Lien n° 1 *** #}

                                 <li class="nav-item">

                                     <a href="/" class="nav-link" >
               
                                         <i class='fas fa-house-user'></i> &nbsp; Accueil 

                                     </a>

                                 </li>

                                 {# *** Lien n° 2 *** #}

                                 <li>
                                     <a href="#" class="nav-link">
                                         <i class='fas fa-pepper-hot'></i> &nbsp; Actualités
                                     </a>
                                 </li>

                                 {# *** Lien n° 3 *** #}

                                 <li>
                                     <a href="#" class="nav-link">
                                         <i class='fas fa-utensils'></i> &nbsp; Recettes
                                     </a>
                                 </li>

                                 {# *** Lien n° 4 *** #}

                                 <li>
                                     <a href="#" class="nav-link">
                                          <i class='fas fa-hand-sparkles'></i> &nbsp; Astuces
                                     </a>
                                 </li>

                                 {# *** Lien n° 5 *** #}

                                 <li>

                                     <a href="#" class="nav-link" >
                                         <i class='fas fa-address-card'></i> &nbsp;  Contact 
                                     </a>
                                     
                                 </li>

                             </ul>

                         </div>   

                     </div>

                         {# ? Animation Bouton " Close " du Menu de navigation #}

                         <article>
		
		                     <audio id="MenuNavigationOpen" onclick="SoundAnimationBoutonOpen()">
			            	     <source src="/Sound/MGS_MenuOn1.mp3" type="audio/mpeg"></source>
			                 </audio>

                             <span style="font-size:30px;cursor:pointer" preload="auto" onmousedown="SoundFxMenuOpen()"  onclick="openNav(1)"> &#9776; </span> 
   
                             <script>
		            	    	 var audioDuBoutonOpen = document.getElementById("MenuNavigationOpen");
		            	      	 function SoundFxMenuOpen() {
		            	    		 audioDuBoutonOpen.play ();
		            	    	 }
		                    </script>

		                 </article>

                 </div>

             </header>

         </div>
           
         {# ***** ***** ***** ***** ***** #}

         {# <p>

             <a href="http://jigsaw.w3.org/css-validator/check/referer">
             
                 <img style="border:0;width:88px;height:31px"
                     src="http://jigsaw.w3.org/css-validator/images/vcss"
                     alt="CSS Valide !" />
            
             </a>
             
         </p> #}
                     
         {# CSS Valide ! #}
         {# ? Code CSS Validé Par W3.org #}

         {# <p>

             <a href="http://jigsaw.w3.org/css-validator/check/referer">
               
                 <img style="border:0;width:88px;height:31px"
                     src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                     alt="CSS Valide !" />

                 </a>
          
             </p> #}
     
         {# ***** ***** ***** ***** ***** #}



                         
                        