 {# ? Partie: Header #}
 
   
   {# ***** Partie: SideBar ***** #}
  
       <div class="row">

           <div class="col-4 col-xl-5 cadre_connexion">
               {% if app.user %}
                   {% if user.avatar %}
                       <p> 
                           avatar de l'utilisateur
                       </p>
                   {% else %}
                       <p>
                           placeholder
                       </p>
                   {% endif %}
               {% else %}
               {# si pas utilisateur => modal de connection  #}
                 {% include 'partials/loginModal.html.twig' %}
               {% endif %}
       
           </div>
       
       
           <div class="col-4 col-xl-2 logo">
           
               {# <img class="img-thumbnail" src="logo.png"/> #}
               <img class="d-block mx-auto mb-4" src="/logo.png" alt="Logo du site" width="72" height="57">
           </div>
       
       
           <div class="col-4 col-xl-5 menuNav">
             

              <div id="myNav" class="overlay">

                 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times; </a>

                   <div class="overlay-content">
                     <a href="#"> Accueil </a>
                     <a href="#"> Actualités </a>
                     <a href="#"> Recettes </a>
                     <a href="#"> Astuces </a>
                     <a href="#"> Contact </a>
                   </div>

               </div>
       
                <span style="font-size:30px;cursor:pointer" onclick="openNav()"> &#9776; Menu </span> 


           </div>

       </div>     