 /* ***** Feuille de style CSS > Bravo Cuistot ***** */

   /* ? Style du corps */  

     body {
       /* background-image : url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"); */
     }

     body, html {
       height: 100%;
     }
    
   /* ? Style de conteneur */

     .Form, 
     .Form2 {
       margin : 2%;
     }

   /* ? Style de police */  

     .textPink {
        color : #f0626f;
       }
       
   /* ? Style de l'entete */   

     header {
       background-color : rgb(0 0 0);
     }
       
     header div.row {
       padding : 1%;
     }
 
   /* ? Style des titres */

     h1 {    
       text-align: center; 
       font-weight: normal;
       border : rgb(25, 135, 84, 0.9) groove 1px;
       border-radius : 3px;
       padding : 5px;
       background-color : rgb(0, 172, 92, 0.9);
       box-shadow : 1px 1px 2px rgb(0, 172, 92, 0.9);
       background-image : url("../Images/background1.png");
       background-blend-mode : screen;
     }
   
   /* ? Style des phrases d'accroche */  

     .phraseAccroche{
      font-family: "Great Vibes", cursive;
      font-size:2em;
      line-height: 45px;
     }
     
   /* ? Style du titre > Menu de navigation */  

     #titreMenuNavigation {
       text-align: center;
       font-size: 3em;
       line-height: 89%;
       height: 44px;
       font-family: 'domainesanstext-bold';
     }

   /* ? Style des divider */

     hr {
       /* display: none; */
       color: white;
       /* color:rgb(123, 132, 255, 0.9); */
       /* color: purple; */
       
     }
   
     .dividerMini {
       margin-left: 39%;
       margin-right: 39%;
     }

     /* ? Style des liens du sommaire de la page d'accueil */

       #homePageSommaire {
         /* background-color: rgb(123, 132, 255, 0.9); */
         
       }

       #homePageSommaire li {
         display: inline; 
         list-style: none;
         margin: 5em;
         padding: unset;
      }

     /* ? Personnalisation des dividers de la home page */
     /* Lien du site pour faire les gradients: https://mycolor.space */

     #homeDivider1 {
       background-image: linear-gradient(to right, #a8eb12, #82dd34, #5ecd47, #3abd53, #00ac5c);
     }

     #homeDivider2 {
       background-image: linear-gradient(to left, #a8eb12, #82dd34, #5ecd47, #3abd53, #00ac5c);
     }

     #homeDivider3 {
       background-image: linear-gradient(to right top, #f0626f, #f7858b, #fda5a8, #ffc5c6, #ffe4e4);
     }

     #homeDivider4 {
       background-image: linear-gradient(to left, #f0626f, #f7858b, #fda5a8, #ffc5c6, #ffe4e4);
     }

   /* ? Style des backgrounds de la home page */ 

     #bg1, #bg2, #bg3 {
       height: 100%; /* Hauteur Max */
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
     }

   /* ? Style du 1er background de la home page */ 

     #bg1 {
         background-image: url("/Images/backgroundFont4.jpg"); /* L'image utilisée */
     }

   /* ? Style du 2ème background de la home page */   

     #bg2 {
       background-image: url("/Images/backgroundFont6.jpg"); /* L'image utilisée */
     }

   /* ? Style du 3ème background de la home page */   

     #bg3 {
       background-image: url("/Images/backgroundFont2.jpg"); /* L'image utilisée */
     }

   /* ? Style de la home page */ 

     /* Style du conteneur */

       .presentation {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 30px 5%;
       }

     /* Style du premier item/Enfant de conteneur */

       .presentation .product-presentation {
         width: 100%;
         flex-shrink: 3;
       }

     /* Style du titre */

       .presentation .product-presentation h2 {
         margin:0;
         font-size: 4vw;
         width: 80%;
       }

     /* Style du paragraphe */

       .presentation .product-presentation p {
         font-weight: 300;
         color:e9e9e9;
       }

     /* Style du bouton */

       .presentation .product-presentation button {
         margin-top: 8px;
         padding: 21px;
         font-size: 13px;
         border-radius: 8px;
         border: none;
         outline: none;
         cursor:pointer;
       }
  
     /* Style conteneur image */

       .presentation .image-presentation img {
         width:100%;
       }

     /* Style du bouton */ 

       .first .presentation .image-presentation button {
         /* background-color: #9F0025 ; */
         color:white;
         transition:  color 0.5s;
       }

     /*Style du conteneur des petites images */

       .first .product-presentation .imageMiniature .Miniature {
         margin-top: 34px;
         display: flex;
         flex-wrap: wrap;
         align-items: center;
       }

     /*Style des petites images */

     .first .product-presentation .imageMiniature .Miniature {
       padding: 21px;
       margin: 0 15px 15px 0;
       border-radius: 21px;
       transition: filter 0.5s;
     }

     /*Style des petites images */

     .first .product-presentation .imageMiniature .Miniature img{
       width:120px;
     }

     /*Styledes petites images au survol */

       .first .product-presentation .imageMiniature .Miniature img:hover{
        filter:brightness(50%);
     }

     .imageMiniature {
       display: -webkit-inline-box;
     }

     @media screen and (max-width:640px) {
       
       .presentation .product-presentation h2 {
         font-size: 2em;
       }

       .presentation .image-presentation {
         display:none;
       }

       .first .product-presentation .imageMiniature .Miniature img {
         width: 89px;
       }

     }
     
   /* ? Style menu de navigation */

    .nav-link {
       display : block;
       font-size: 1.5rem;
       color: black;
       line-height: 27px;
    }
  
     .nav-link:hover,
     .nav-link:active {
       font-size: 144%;
       animation:cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s ;
     }

   /* ? Style des boutons 'Action'*/
   
     button a {
       color : #f0626f;
     }

     a.closebtn {
       margin : 3em;
       display : flex;
     }

   /* ? Style bouton action " Open " Menu Navigation */

       #boutonOpenMenuNavstyle{
         cursor:pointer;    
         font-size:2em; 
         color: white;
     }

   /* ? Style bouton action Maison > LoginModal */

     /*  Lien non visité */
         #house1:link,
         #boutonOpenMenuNav:link {
           color: #FFF6F6;
         }
            
     /*  Lien déjà visité */

         #house1:visited,
         #boutonOpenMenuNav:visited {
           color: #BEFCFE;
         }
         
     /*  Lien au survol*/

       #house1:hover,
       #boutonOpenMenuNav:hover {
         /* color: rgba(0, 172, 92); */
         color: rgba(0, 172, 92);
         transition: color 0.5s, background-color 0.5s;
       }
         
     /*  Lien au clic */

       #house1:active,
       #boutonOpenMenuNav:active {
         color: rgb(233,28,47);
       }

  /* ? Style bouton action " Close " Menu Navigation */

     #boutonCloseMenuNav:hover{
      color:  rgb(233,28,47);
        transition: color 0.5s, background-color 0.5s;
     }


   /* ? Style de la Side Bar */

    .sideBar_Cuistot {
       height : 100%;
       width : 0;
       position : fixed;
       z-index : 1;
       top : 0;
       left : 0;
       background-color : rgb(0, 0, 0, 0.9);
       background-color : #F3EED9;
       overflow-x : hidden;
       transition : 0.5s;
       /* background-image: url("https://www.transparenttextures.com/patterns/xv.png"); */
       /* background-image: url("/Images/backgroundFont6.jpg");  */
       /* background-image: linear-gradient(to bottom, #f06292, #af4b6c, #713448, #3a1e26, #000000); */
       /* background-image: linear-gradient(to bottom, #00ac5c, #00c5b9, #6fd7f1, #cee7ff, #ffffff); */
    }
    
    .sideBar_Cuistot-content {
       position : relative;
       top : 25%;
       width : 100%;
       text-align : center;
       margin-top : 30px;
    }
    
    .overlay a {
       padding : 8px;
       text-decoration : none;
       font-size : 36px;
       color : #f0626f;
       display : block;
       transition : 0.3s;
    }
    
    .sideBar_Cuistot a:hover, 
    .overlay a:focus {
      color : #f1f1f1;
      background-color :rgb(0, 172, 92, 0.9);
    }


    
    @media screen and (max-height: 450px) {
   
       .overlay a {
         font-size : 20px;
       }
       
       .overlay .closebtn {
         font-size : 40px;
         top : 15px;
         right : 35px;
       }

    }
    
   /* ? Style de nos tableaux ? */ 

    table {
       width : 100%;
      }
    
   /* ? Style préview Recette ? */

     .previewRecetteBoutonFin {
       justify-content: space-around;
       padding-top: 20px;
     }

   /* ? Style des recettes *** */

   /* impose une taille mini aux miniatures des recette, a voir avec des image comment cela ce comporte (comenter pour le moment) */
   /* .cardRecette{
       min-height: 200px;
   } */

   /* ? Style des input formulaires  */

     #rechercheInputStyle {
       justify-content: center;
       text-align: center;
     }
 
     /* ? Responsive layout - makes a one column-layout instead of a two-column layout */

     .flex-container {
       display: flex;
       flex-direction: row;
       text-align: center;
       /* background-color: rgba(25, 135, 84, 0.1) ; */
       background-color: rgba(0, 172, 92, 0.1); /* style initial carte transparente */
       background-color: rgba(0, 172, 92); 
       /* box-shadow :  rgb(25, 135, 84, 0.9); */
       
     }

     .flex-container2 {
      display: flex;
      flex-direction: row;
      text-align: center;
      /* background-color: rgba(25, 135, 84, 0.1) ; */
      /* background-color: rgba(255, 255, 255, 0.9);  */   /* style initial carte transparente */
      background-color: rgba(240, 98, 146, 0.7);
      /* background-color: rgba(0, 172, 92);  */
      /* box-shadow :  rgb(25, 135, 84, 0.9); */
      border-radius: 8px;
      
    }
    
     .flex-item-left {
       /* background-color: rgba(25, 135, 84, 0.9) ;  */
       padding: 10px;
       flex: 50%;
     }
    
     .flex-item-right {
       /* background-color: rgba(240, 98, 146, 0.7); */
       padding: 10px;
       flex: 50%;
     }
    
     /* ? Responsive layout - makes a one column-layout instead of two-column layout */

       @media (max-width: 800px) {

         .flex-container {
           flex-direction: column;
         }

       }

     /* ? Responsive layout - makes a one column layout instead of a two-column layout */

       @media (max-width: 800px) {

         .flex-container {
           flex-direction: column;
         }

      }




      /* ? bordure avatar + show_recette */
      .container-fluid,
      #recette,
      #right_element,
      #noteMoyenne,
      #avatar,
      #cardAvatar,
      #login {
        border: 20px groove rgba(25, 135, 84, 0.9) ;
        border-radius: 20px;
        box-shadow: -3px 3px 10px #f0626f;
    }  