 {# ? Feuille du bouton Delete #ModeUser #}

     <form method="post" action="{{ path('recette_delete', {'id': recette.id}) }}" onsubmit="return confirm('Voulez vraiment supprimer cette recette?');">
 
         <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
 
         <button class="btn btn-secondary btn-lg col-12">
              Supprimer 
         </button>
 
     </form>
