 {# ? Feuille du bouton Delete #ModeUser #}
 
     {{ form_start(form) }}
     
         {{ form_widget(form) }}
     
             <button class="btn col-12 btn-dark btn-lg px-4">  
                 {{ button_label|default('Valider cette étape') }}
             </button>
     
     {{ form_end(form) }}

