{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <h1>Liste des recettes</h1>
    <div class="col-12 row">
        {% for recette in recettes %}
        <div class="col-6 cardRecette">
        <a href="{{path("recette_show", {'id': recette.id})}}">
        {% if recette.image %}
        <img src="#" />
        <h2>{{recette.name}}</h2>
        {% else  %}
        <h2> {{recette.name}}
        {% endif %}
        </a>
        </div>
        {% endfor %}
    </div>

{% endblock %}
