  {# ? Partie : Créer un nouvel ingrédients (suite) #ModeUser #}

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Créer une nouvelle recette "
     {% endblock %}

     {% block title %}
         Créer une nouvelle recette
     {% endblock %}

     {% block body %}

          <main class="Form"> 

             <div class="text-center"> 

                 {# ********************* #}

                 {# ? Partie: Titre #} 

                 <section>
    
                     <h1> Créer une nouvelle recette </h1>
         
                         <hr/>

                             <p> 
                                 <em> Créer vos recette étapes-par-étapes! </em>  👨‍🍳 
                             </p>

                         <hr/>

                 </section> 

                 {# ********************* #}

                 <nav aria-label="breadcrumb">

                     <ol style="--bs-breadcrumb-divider: '>';" class="breadcrumb">
                         <li class="breadcrumb-item active" aria-current="page" name="Etape n°1" alt="Etape n°1: Créer une nouvelle recette" aria-current="page"> Etape n°1: Créer une nouvelle recette </li>
                     </ol>

                 </nav>

                 {# ********************* #}

                 {# <article class="btn-group-vertical col-12"> #}
                 <article>

                     <div class="text-center">
                         {{ include('recette/_formRecette.html.twig') }}
                     </div>

                     <a href="{{ path('recette_index') }}" type="submit" class="btn btn-success col-12 btn-lg">                                
                         Retour à la liste
                     </a>

                 </article>

                 {# ********************* #}

             </div>  

         </main>
        
     {% endblock %}
