{% extends 'base.html.twig' %}

{% block title %}New ingredients{% endblock %}

{% block body %}
    <h1>suite ingrédients</h1>
    {{dump(listeEtapes)}}

    {{ include('recette/_form.html.twig') }}
    {# todo : prévoir une vue de validation :  #}
    <a href="{{ path('recette_new_preview',{'id': app.request.get('id')})}}">Valider et passer a la prévisualisation de la recette.</a><br/>

    <a href="{{ path('recette_index') }}">back to list</a>
{% endblock %}
