 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Créer une étape (suite) "
     {% endblock %}

     {% block title %}
         Créer une étape (suite) 
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <section class="text-center"> 

                 <h1 class="h1 mb-3 font-weight-normal"> Créer une étape (suite) </h1>

             </section>          

             <article class="">

                 {{dump(listeEtapes)}}
               
             </article>

             <article class="btn-group-vertical">

                 {{ include('recette/_form.html.twig') }}
                 
                 {# todo : prévoir une vue de validation :  #}
                 {# <a href="{{ path('recette_new_etapes',{'id': app.request.get('id')})}}"> passer a l'ajout des étapes</a><br/> #}
               
                 <button href="{{ path('recette_index') }}" type="submit" class="btn btn-success btn-lg px-4 gap-3">                                
                     Retour à la liste
                 </button>    

             </article>

         </main>            
     
     {% endblock %}
           