{% extends 'base.html.twig' %}

{% block title %}New ingredients{% endblock %}

{% block body %}
    <h1>Create new étapes</h1>

    {{ include('recette/_form.html.twig') }}

    <a href="{{ path('recette_index') }}">back to list</a>
{% endblock %}
