{% extends 'base.html.twig' %}

{% block title %}New ingredients{% endblock %}

{% block body %}
    <h1>suite ingrédients</h1>
    {{dump(listeIngredients)}}

    {{ include('recette/_form.html.twig') }}
    {# {{ path('')}} #}
    <a href="#"> passer a l'ajout des étapes</a><br/>

    <a href="{{ path('recette_index') }}">back to list</a>
{% endblock %}
