 {# ? Partie : Créer un nouvel ingrédients (suite) #ModeUser #}

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Créer un nouvel ingrédients (suite) "
     {% endblock %}

     {% block title %}
         Créer un nouvel ingrédients (suite)
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div class="text-center">

                 {# ********************* #}

                 <section>

                     <h1> Gestion des recettes </h1>

                 </section>   

                 {# ********************* #}

                 <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">

                     <ol class="breadcrumb">
                         <li class="breadcrumb-item" name="Etape n°1" alt="Etape n°1: Créer une nouvelle recette"> Etape n°1: Créer une nouvelle recette </li>
                         <li class="breadcrumb-item active" aria-current="page" name="Etape n°1" alt="Etape n°2 bis: Ajout d'ingrédient" aria-current="page"> Etape n°2 bis: Ajout d'ingrédient </li>    
                     </ol>

                 </nav>

                 {# ********************* #}

                 <article>

                     {{dump(listeIngredients)}}
                   
                 </article> 

                 {# ********************* #}   

                 {# <article class="btn-group-vertical"> #}
                 <article>

                     {{ include('recette/_form.html.twig') }}

                     <a href="{{ path('recette_new_etapes',{'id': app.request.get('id')})}}" type="submit" class="btn btn-success btn-lg">                                
                         Passer a l'ajout des étapes
                     </a>            

                     <a href="{{ path('recette_index') }}" type="submit" class="btn col-12 btn-dark btn-lg px-4">                                
                         Retour à la liste 
                     </a>   

                 </article>

                 {# ********************* #}

             </div>    

         </main>

     {% endblock %}


                 