 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Créer un nouvel ingrédients (suite) "
     {% endblock %}

     {% block title %}
         Créer un nouvel ingrédients (suite)
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <section class="text-center">

                 <h1 class="h1 mb-3 font-weight-normal"> Créer un nouvel ingrédients (suite) </h1>

             </section>    

             <article>

                 {{dump(listeIngredients)}}
               
             </article>    

             <article class="btn-group-vertical">

                 {{ include('recette/_form.html.twig') }}

                 <button href="{{ path('recette_new_etapes',{'id': app.request.get('id')})}}" type="submit" class="btn btn-success btn-lg px-4 gap-3">                                
                     Passer a l'ajout des étapes
                 </button>            

                 <button href="{{ path('recette_index') }}" type="submit" class="btn col-12 btn-dark btn-lg px-4">                                
                     Retour à la liste 
                 </button>   

             </article>

         </main>

     {% endblock %}


                 