{% extends 'base.html.twig' %}

{% block title %}Interface administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>
                    Gérer les utilisateurs 
                </p>
            </div>
            <div class="col-6">
                <p>
                    Gérer les recettes
                </p>
            </div>
            <div class="col-6">
                <p>
                    Gérer les commentaires
                </p>
            </div>
            <div class="col-6">
                <p>
                    Gérer les catégories
                </p>
            </div>
            <div class="col-6">
                <p>
                    <a href="{{path("administration_ingredients_index")}}">Gérer les ingédients </a>
                </p>
            </div>
            <div class="col-6">
                <p>
                    Gérer les unitées de messures
                </p>
        </div>
    </div>
{% endblock %}
