 {# ? Feuille du bouton Delete #ModeAdmin #}

     <form method="post" action="{{ path('administration_alimentation_delete', {'id': alimentation.id}) }}" onsubmit="return confirm('Voulez vraiment supprimer ce type d'alimentation?');">
     
         <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alimentation.id) }}">
            
         <button class="btn btn-secondary btn-lg col-12">
             Supprimer 
         </button>
     
     </form>
