{% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Modifier un type d'alimentation "
     {% endblock %} 

     {% block title %}
         Modifier un type d'alimentation
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div class="py-5 text-center col-12">

                 <section>

                     <h1> Modifier un type d'alimentation </h1>

                     <hr/>

                         <p> 
                             <em> Administrer vos types d'alimentations </em>  📂
                         </p>

                     <hr/>

                 </section>  

                 <article class="col-12">

                     {{ include('administration_alimentation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
 
                     <a href="{{ path('administration_alimentation_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">
                         Retour à la liste
                     </a>

                 </article> 

                 <hr/>

                 <article class="col-12">
                     {{ include('administration_alimentation/_delete_form.html.twig') }}
                 </article>

             </div>      
       
         </main>

     {% endblock %}
     