 {# ? Feuille : Créer un nouveau plat #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}
      
     {% block metaTitle %}
         " Créer un nouveau type d'alimentation "
     {% endblock %}

     {% block title %}
         Créer un nouveau type d'alimentation
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
 
             <div class="py-5 text-center col-12">

                 {# *********************************************** #}  

                 <section>

                     <h1> Créer un nouveau type d'alimentation </h1>
                   
                         <hr/>

                             <p> 
                                 <em> Ajouter un nouveau type d'alimentation à votre site! </em> ⏰
                             </p>

                         <hr/>

                 </section>
               
                 {# *********************************************** #}

                 <article>

                     {{ include('administration_alimentation/_form.html.twig') }}
                   
                     <a href="{{ path('administration_alimentation_index') }}" class="btn btn-success btn-lg col-12">
                         Retour à la liste 
                     </a>
 
                 </article>

                 {# *********************************************** #}

             </div>  

         </main> 

     {% endblock %}
