 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Gestion des catégories "
     {% endblock %}

     {% block title %}
         Gestion des catégories
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div class=" text-center col-12">

                 <article>
                 
                     <h1> Gestion des catégories </h1>

                         <hr/>

                             <p> 
                                 <em> Veuillez sélectionner un type de catégorie à administrer : </em>  📂
                             </p>

                         <hr/>

                 </article>

                 {# ? Partie: Les dernierès recettes. #}

                 <div class="container">

                     <div class="text-center p-md-5 text-white rounded bg-dark">                             
                       
                         <div class="col-md-12 px-0">
 
                             <div class="row">

                                 {# ? Carte n°1: Type de plats #}
                                 <div class=" col-sm-4">

                                     <div class="card">

                                         <div class="card-body">

                                             <hr class="homeDivider1"/>
                                            
                                             <h3> Plats </h3>
     
                                             <hr class="homeDivider2"/>

                                             <ul class="text-start" style="list-style:none;">

                                                 <li> Petit-déjeuner</li> 
                                                 <li> Apéritif </li>                                                          
                                                 <li> Entrées </li> 
                                                 <li> Plats de résistance </li>                                                            
                                                 <li> Desserts </li> 
                                                 <li> Etc ... </li> 

                                             </ul>

                                             <a href="{{ path('administration_plats_index') }}" class="btn btn-success bg-gradient btn-lg col-12">
                                                 Voir 👀
                                             </a>

                                         </div>

                                     </div>

                                 </div>

                                 {# ? Carte n°2: Types d'alimentations #}
                                 <div class="col-sm-4">

                                     <div class="card">

                                         <div class="card-body">

                                             <hr class="homeDivider1"/>
                                              
                                             <h3> Alimentations </h3>

                                             <hr class="homeDivider2"/>

                                             <ul class="text-start" style="list-style:none;">

                                                 <li> Omnivore </li> 
                                                 <li> Végétarisme </li>                                                          
                                                 <li> Frugivore </li> 
                                                 <li> Casher </li>                                                            
                                                 <li> Hallal </li> 
                                                 <li> Etc ... </li> 
                                         
                                             </ul>

                                             <a href="{{ path('administration_alimentation_index') }}" class="btn btn-success bg-gradient btn-lg col-12">
                                                 Voir 👀
                                             </a>

                                         </div>

                                     </div>

                                 </div>

                                 {# ? Carte n°3: Types de cuissons #}
                                 <div class=" col-sm-4">

                                     <div class="card">

                                         <div class="card-body">

                                             <hr class="homeDivider1"/>
                                          
                                             <h3> Cuissons </h3>

                                             <hr class="homeDivider2"/>

                                             <ul class="text-start" style="list-style:none;">

                                                 <li> Griller </li> 
                                                 <li> Sauter </li>                                                          
                                                 <li> Bouillir </li> 
                                                 <li> Vapeur </li>                                                            
                                                 <li> Braiser </li> 
                                                 <li> Etc ... </li> 
                                          
                                             </ul>

                                             <a href="{{ path('administration_cuisson_index') }}" class="btn btn-success bg-gradient btn-lg col-12">
                                                 Voir 👀
                                             </a>

                                         </div>

                                     </div>

                                 </div>                                       

                             </div>

                         </div>         

                     </div>

                 </div>    

                 <hr/>

                 <article>

                     <a href="{{ path('interface_administration') }}" class="btn btn-success btn-lg col-12">
                         Retour à l'interface d'administration
                     </a>  
 
                 </article>
                 
             </div>

         </main>

     {% endblock %}
 
 {# ? Carte Carousel Lien SOurce : https://codepen.io/onion2k/pen/xxZYBVj #}

 

        

    