{% extends 'base.html.twig' %}

     {% block title %}
         C'est interdit! 
     {% endblock %}
     
     {% block body %}
        L'action que vous avez tentez est interdite, il est probable que l'erreur vienne de nous, Désole!
        {{ dump(authorid)}}
        {{ dump(userid)}}
        <a href="{{path("home")}}">Vous pouvez cependant retourner a l'acceuil du site en cliquant sur cette phrases.</a>
     {% endblock %}