 {# ? Feuille : Modifier une recette #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Modifier un plat "
     {% endblock %} 

     {% block title %}
         Modifier un plat
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <section class="text-center">
   
                 <h1 class="h1 mb-3 font-weight-normal"> Modifier un plat </h1>

             </section>  
     
             <article class="btn-group-vertical">
   
                 <button href="{{ include('administration_plats/_form.html.twig', {'button_label': 'Update'}) }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">
                 </button>

                 <button href="{{ include('administration_plats/_delete_form.html.twig') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3"> 
                 </button>

                 <button href="{{ path('administration_plats_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                     Retour à la liste
                 </button>

             </article> 

         </main>

     {% endblock %}
