 {# ? Feuille : Modifier un type de plat #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Modifier un type de plat "
     {% endblock %} 

     {% block title %}
         Modifier un type de plat
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div  class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section>
       
                     <h1> Modifier un type de plat </h1>
       
                         <hr/>

                             <p> 
                                 <em> Modifier les données de vos types de plats </em> 📂
                             </p>

                         <hr/>

                 </section>  

                 {# *********************************************** #}

                 <article class="col-12">
       
                     {{ include('administration_plats/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    
                     <a href="{{ path('administration_plats_index') }}" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                         Retour à la liste
                     </a>
       
                 </article> 

                 <hr/>

                 <article class="col-12">

                     {{ include('administration_plats/_delete_form.html.twig') }}

                 </article>

                 {# *********************************************** #}

             </div>      
       
         </main>

     {% endblock %}
