  {# ? Feuille : Créer un nouveau plat #ModeAdmin #} 

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         "  Créer un nouveau plat  "
     {% endblock %}

     {% block title %}
         Créer un nouveau plat
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
  
         {# <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> #}

             {# <header class="mb-auto">

                 <div>

                     <h3 class="float-md-start mb-0"></h3>
                   
                 </div>

             </header> #}
           
             {# <main class="px-3"> #}

                

                 {# <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> #}
             
                 {# <p class="lead"> #}
                     {# <a href="{{ include('administration_plats/_form.html.twig') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">  </a> #}
                 {# </p> #}

                 {# <p class="lead"> #}
                     {# <a href="{{ path('administration_plats_index') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white"> Retour à la liste </a> #}
                 {# </p> #}

             {# </main> #}
           
             {# <footer class="mt-auto text-white-50">
                 <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
             </footer> #}
       
         {# </div> #}

         </main> 
         
     {% endblock %}
