{% extends 'base.html.twig' %}

{% block title %}New Plats{% endblock %}

{% block body %}
    <h1>Create new Plats</h1>

    {{ include('administration_plats/_form.html.twig') }}

    <a href="{{ path('administration_plats_index') }}">back to list</a>
{% endblock %}
