 {# ? Feuille : Créer un nouveau plat #ModeAdmin #} 

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         "  Créer un nouveau plat  "
     {% endblock %}

     {% block title %}
         Créer un nouveau plat
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
 
             <div class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section class="text-center">

                     <h1 class="plantFont"> 
                         Créer un nouveau plat 
                     </h1>
                          
                     <hr style="color:white;"/>

                     <p class="lead"> 
                         <em> Ajouter un nouveau type de plats à votre site! </em> ⏰
                     </p>

                     <hr style="color:white;"/>

                 </section>
               
                 {# *********************************************** #}

                 <article>
                        
                     {{ include('administration_plats/_form.html.twig') }}
              
                     <a href="{{ path('administration_plats_index') }}" class="btn btn-lg btn-success col-12">
                         Retour à la liste 
                     </a>
              
                 </article>

                 {# *********************************************** #}

             </div>  

         </main> 
         
     {% endblock %}
