  {# ? Feuille : Créer un nouveau plat #ModeAdmin #} 

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         "  Créer un nouveau plat  "
     {% endblock %}

     {% block title %}
         Créer un nouveau plat
     {% endblock %}
     
     {% block body %}

         {# <main class="Form">  #}
 
             <section class="text-center">

                 <h1 class="plantFont mb-3 font-weight-normal"> Créer une nouvel utilisateur </h1>
                      
                     <p class="lead"> 
                         <em> Ajouter un nouveau type de plats à votre site! </em> ⏰
                     </p>

             </section>
           
             <article class="px-3">
             
                 <p class="lead">
                     {{ include('administration_plats/_form.html.twig') }}
                 </p>

             </article>

                 <p class="">
                     <a href="{{ path('administration_plats_index') }}" class="btn btn-lg btn-secondary fw-bold"> Retour à la liste </a>
                 </p>

          

         </main> 
         
     {% endblock %}
