 {# ? Feuille du bouton Delete #ModeAdmin #}

     <form method="post" action="{{ path('administration_cuisson_delete', {'id': cuisson.id}) }}" onsubmit="return confirm('Voulez vraiment supprimer cette cuisson ??');">
     
         <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cuisson.id) }}">
     
         <button class="btn col-12 btn-secondary btn-lg px-4">
             Supprimer 
         </button>
     
     </form>
     
