 {# ? Feuille : Modifier un type de cuisson #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Modifier un type de cuisson "
     {% endblock %} 

     {% block title %}
         Modifier un type de cuisson
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div  class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section class="text-center"> 

                     <h1 class="plantFont"> 
                         Modifier un type de cuisson
                     </h1>
                   
                     <hr style="color:white;"/>

                     <p class="lead"> 
                         <em> Administrer vos types de cuisson </em>  📂
                     </p>

                     <hr style="color:white;"/>

                 </section>  

                 {# *********************************************** #}

                 <hr style="color:white;"/>

                 <article class="col-12">

                     {{ include('administration_cuisson/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                     
                     <a href="{{ path('administration_cuisson_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                         Retour à la liste
                     </a>

                 </article>   

                 <hr style="color:white;"/>

                 <article class="col-12">

                     {{ include('administration_cuisson/_delete_form.html.twig') }}
         
                 </article>

                 {# *********************************************** #}

             </div>      
       
         </main>

     {% endblock %}
     