{% extends 'base.html.twig' %}

{% block title %}New Cuisson{% endblock %}

{% block body %}
    <h1>Create new Cuisson</h1>

    {{ include('administration_cuisson/_form.html.twig') }}

    <a href="{{ path('administration_cuisson_index') }}">back to list</a>
{% endblock %}
