  {# ? Feuille : Créer un nouveau type de cuisson #ModeAdmin #}  
 
 {% extends 'base.html.twig' %}
  
    {% block metaTitle %}
         " Créer un nouveau type de cuisson "
     {% endblock %}

     {% block title %}
         Créer un nouveau type de cuisson
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
 
             <div class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section>

                     <h1> Créer un nouveau type de cuisson </h1>
                  
                         <hr/>

                             <p> 
                                 <em> Ajouter un nouveau type de cuisson à votre site! </em> ⏰
                             </p>

                         <hr/>

                 </section>
               
                 {# *********************************************** #}

                 <article>

                     {{ include('administration_cuisson/_form.html.twig') }}
                  
                     <a href="{{ path('administration_cuisson_index') }}" class="btn btn-lg btn-success col-12">
                         Retour à la liste 
                     </a>
  
                 </article>

                 {# *********************************************** #}

             </div>  

         </main> 

     {% endblock %}
     