  {# ? Feuille : Créer un nouveau type de cuisson #ModeAdmin #}  
 
 {% extends 'base.html.twig' %}
  
    {% block metaTitle %}
         " Créer un nouveau type de cuisson "
     {% endblock %}

     {% block title %}
         Créer un nouveau type de cuisson
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
 
             <div class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section class="text-center">

                     <h1 class="plantFont">
                         Créer un nouveau type de cuisson 
                     </h1>
                  
                     <hr style="color:white;"/>

                     <p class="lead"> 
                         <em> Ajouter un nouveau type de cuisson à votre site! </em> ⏰
                     </p>

                     <hr style="color:white;"/>

                 </section>
               
                 {# *********************************************** #}

                 <article class="px-3">

                     {{ include('administration_cuisson/_form.html.twig') }}
                  
                     <a href="{{ path('administration_cuisson_index') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">
                         Retour à la liste 
                     </a>
  
                 </article>

                 {# *********************************************** #}

             </div>  

         </main> 

     {% endblock %}
     