 {# ? Feuille du bouton Delete #ModeAdmin #}

     <form method="post" action="{{ path('unite_mesure_delete', {'id': unite_mesure.id}) }}" onsubmit="return confirm('Voulez vraiment supprimer cet unité de mesure?');">
 
         <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unite_mesure.id) }}">
 
         <button class="btn col-12 btn-secondary btn-lg px-4">
             Supprimer
         </button>
 
     </form>
 
     