 {# ? Partie : Modifier une unité de mesure #ModeAdmin #}
 
 {% extends 'base.html.twig' %}
     
     {% block metaTitle %}
         " Modifier une unité de mesure  "
     {% endblock %}

     {% block title %}
         Modifier une unité de mesure 
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <section class="text-center">
   
                 <h1 class="h1 mb-3 font-weight-normal"> Modifier une unité de mesure  </h1>

             </section>   

             <article class="btn-group-vertical">

                 <button href="{{ include('unite_mesure/_form.html.twig', {'button_label': 'Update'}) }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">
                 </button>
     
                 <button href="{{ include('unite_mesure/_delete_form.html.twig') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3"> 
                 </button>  
     
                 <button href="{{ path('unite_mesure_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                     Retour à la liste
                 </button>

             </article> 

         </main>

     {% endblock %}
