 {# ? Partie : Modifier une unité de mesure #ModeAdmin #}
 
 {% extends 'base.html.twig' %}
     
     {% block metaTitle %}
         " Modifier une unité de mesure  "
     {% endblock %}

     {% block title %}
         Modifier une unité de mesure 
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div  class="py-5 text-center col-12">

                 {# *********************************************** #} 

                 <section class="text-center">

                     <h1 class="mb-3 font-weight-normal"> Modifier une unité de mesure. </h1>
                      
                     <hr style="color:white;"/>

                     <p class="lead"> 
                         <em> Modifier les données de vos unités de mesure.  </em> 🐱‍💻
                     </p>

                     <hr style="color:white;"/>

                 </section> 

                 {# *********************************************** #} 

                 <hr style="color:white;"/>

                 <article class=" col-12">

                     {{ include('unite_mesure/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                  
                     <a href="{{ path('unite_mesure_index') }}" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                         Retour à la liste
                     </a>     
                   
                 </article> 

                 <hr style="color:white;"/>

                 <article class="col-12">

                     {{ include('unite_mesure/_delete_form.html.twig') }}

                 </article> 

                 {# *********************************************** #} 

             </div>

         </main>

     {% endblock %}
