{% extends 'base.html.twig' %}

{% block title %}Edit UniteMesure{% endblock %}

{% block body %}
    <h1>Edit UniteMesure</h1>

    {{ include('unite_mesure/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('unite_mesure_index') }}">back to list</a>

    {{ include('unite_mesure/_delete_form.html.twig') }}
{% endblock %}
