  {# ? Partie : Créer une nouvelle unité de mesure #ModeAdmin #}
 
 {% extends 'base.html.twig' %}
     
     {% block title %}
         Créer une nouvelle unité de mesure
     {% endblock %}
     
     {% block body %}

         <main class="Form">

             <div class="py-5 text-center col-12">

                 {# *********************************************** #}
                 
                 <section>
     
                     <h1> Créer une unité de mesure </h1>
                
                         <hr/>

                             <p> 
                                 <em> Ajouter une nouvelle unité de mesure! </em> 👨‍🍳
                             </p> 

                         <hr/>  

                 </section>   

                 {# *********************************************** #}

                 <article>
      
                     <div class="text-center">
                         {{ include('unite_mesure/_form.html.twig') }}
                     </div>

                     <a type="submit" href="{{ path('unite_mesure_index') }}" class="btn btn-success col-12 btn-lg ">
                         Retour à la liste
                     </a>

                 </article>

                 {# *********************************************** #}
 
             </div>

         </main>

     {% endblock %}
