 {# ? Feuille du bouton Delete #ModeAdmin #}

     <form method="post" action="{{ path('administration_recette_delete', {'id': recette.id}) }}" onsubmit="return confirm('Voulez vraiment supprimer cette recette?');">
     
         <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
     
         <button class="btn col-12 btn-secondary btn-lg px-4">
              Supprimer 
         </button>
     
     </form>
