 {# ? Feuille : Modifier une recette #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Modifier une recette "
     {% endblock %}

     {% block title %}
         Modifier une recette
     {% endblock %}
     
     {% block body %}
  
         <main class="Form"> 

             <div class="py-5 text-center col-12">

                {# *********************************************** #}

                 <section>
   
                     <h1> Modifier une recette </h1>

                         <hr/>

                             <p> 
                                 <em> Consulter la liste des recette de votre site et les administrer. </em>  📇 
                             </p>

                         <hr/>

                 </section>  
 
                 {# *********************************************** #}

                 <article class="col-12">
                    
                     {{ include('administration_recette/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                 
                     <a href="{{ path('administration_recette_index') }}" type="submit" class="btn btn-success col-12 btn-lg">                                
                         Retour à la liste
                     </a>

                     <hr/>
                   
                     {{ include('administration_recette/_delete_form.html.twig') }}

                 </article> 

                 {# *********************************************** #}

             </div> 

         </main>

     {% endblock %}
