 {# ? Feuille : Gestion des recettes #ModeAdmin #} 

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Créer une nouvelle recette  "
     {% endblock %}

     {% block title %}
         Créer une nouvelle recette 
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div  class="py-5 text-center col-12">

                 {# *********************************************** #}

                     <nav aria-label="breadcrumb">

                         <ol class="breadcrumb">
                             <li class="breadcrumb-item active" aria-current="page"> Créer une nouvelle recette </li>
                         </ol>

                     </nav>

                         {# *********************************************** #}

                         <section>
   
                             <h1> Créer une nouvelle recette </h1>
 
                                 <hr/>

                                     <p> 
                                         <em> Vous pouvez créer une nouvelle recette à partir d'ici! </em>  📇 
                                     </p>

                                 <hr/> 

                         </section> 

                         {# *********************************************** #}

                         <article>

                             {{ include('administration_recette/_form.html.twig') }}  
                             
                             <hr/> 

                             <a href="{{ path('administration_recette_index') }}" type="submit" class="btn btn-success  btn-lg px-4 gap-3">                                
                                 Retour à la liste
                             </a>

                         </article>

                         {# *********************************************** #}

             </div>
  
         </main> 

     {% endblock %}

      

                
