<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {# bootstrap #}
                <link rel="stylesheet" type="text/css" href="/bootstrap-5.0.1-dist/css/bootstrap.css">
            {# custom #}
                <link rel="stylesheet" type="text/css" href="/css/style.css">

            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {# bootstrap #}
                <script src="/bootstrap-5.0.1-dist/js/bootstrap.bundle.js"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    {% include 'partials/header.html.twig' %}
 
    <body>
        {% block body %}{% endblock %}
    </body>

    {% include 'partials/footer.html.twig' %}

</html>
