 {# ? Partie : Créer un nouveau commentaire #ModeAdmin #}
 
 {% extends 'base.html.twig' %}
 
      {% block metaTitle %}
         " Créer un nouveau commentaire "
     {% endblock %}

     {% block title %}
         Créer un nouveau commentaire 
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div  class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section>
    
                     <h1> Créer un nouveau commentaire </h1>

                         <hr/>
         
                             <p> 
                                 <em> Rédiger un nouveau commentaire </em> ✍️
                             </p>

                         <hr/>

                 </section>  

                 {# *********************************************** #}

                 <article>
      
                     {{ include('administration_comentaires/_form.html.twig') }}
                    
                     <a href="{{ path('administration_comentaires_index') }}" type="submit" class="btn btn-success col-12 btn-lg">                                
                         Retour à la liste
                     </a>
 
                 </article>

                 {# *********************************************** #}
          
             </div>

         <main>

     {% endblock %}
     