 {% extends 'base.html.twig' %}
     
     {% block metaTitle %}
         " Modifier un utilisateur "
     {% endblock %}

     {% block title %}
         Modifier un utilisateur
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <section class="text-center">

                 <h1 class="h1 mb-3 font-weight-normal"> Modifier un utilisateur </h1>
                  
                     <p class="lead"> 
                         <em> Modifier un utilisateur! </em> 👤
                     </p>

             </section>   

             <article class="btn-group-vertical col-12">

                 <a href="{{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}" type="submit" class="btn btn-success  btn-lg px-4 gap-3">
                 </a>         
            

                 {{ include('user/_delete_form.html.twig') }}" 
                 
                 
                  <a href="{{ path('user_index') }}" type="submit" class="btn btn-success  btn-lg px-4 gap-3">                                
                     Retour à la liste
                 </a>
    
             </article> 

         </main>

     {% endblock %}
     