 {% extends 'base.html.twig' %}
     
     {% block metaTitle %}
         " Modifier un utilisateur "
     {% endblock %}

     {% block title %}
         Modifier un utilisateur
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <section class="text-center">

                 <h1 class="mb-3 font-weight-normal"> Modifier un utilisateur </h1>
                  
                     <p class="lead"> 
                         <em> Modérer le profil de vos clients et leurs roles.  </em> 🐱‍💻
                     </p>

             </section>   

             <article>

                 {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
     
                 {{ include('user/_delete_form.html.twig') }}
                 
                 <a href="{{ path('user_index') }}" type="submit" class="btn btn-success col-12  btn-lg px-4 gap-3">                                
                     Retour à la liste
                 </a>
    
             </article> 

         </main>

     {% endblock %}
     