 {% extends 'base.html.twig' %}
     
     {% block metaTitle %}
         " Modifier un utilisateur "
     {% endblock %}

     {% block title %}
         Modifier un utilisateur
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div class="py-5 text-center col-12">

                 {# ******************** #}

                 <section>

                     <h1> Modifier un utilisateur </h1>
                      
                         <hr/>

                             <p> 
                                 <em> Modérer le profil de vos clients et leurs roles.  </em> 🐱‍💻
                             </p>

                         <hr/>

                 </section>   

                 {# ******************** #}

                 <article class="col-12">
                      
                     {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                
                     <a href="{{ path('user_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                         Retour à la liste
                     </a>

                     <hr/>

                     {{ include('user/_delete_form.html.twig') }}

                 </article> 

                 {# ******************** #}

             </div> 

         </main>

     {% endblock %}
     