 {# ? Feuille : Gestion des utilisateurs #ModeAdmin #} 

     {% extends 'base.html.twig' %}
     
     {% block metaTitle %}
         " Créer un nouvel utilisateur "
     {% endblock %}

     {% block title %}
         Créer un nouvel utilisateur
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
 
             <section class="text-center">

                 <h1 class="plantFont h1 mb-3 font-weight-normal"> Créer une nouvel utilisateur </h1>
                      
                     <p class="lead"> 
                         <em> Créer un nouvel utilisateur! </em> 👤
                     </p>

             </section>

             <article>
       
                 <div class="text-center"> 
                     {{ include('user/_form.html.twig') }}
                 </div>     
     
             </article>

             <br/>

                 <a href="{{ path('user_index') }}" type="submit" class="btn btn-success col-12 px-4 gap-3">
                     Retour à la liste
                 </a>
   
         </main>     

     {% endblock %}
     