 {# ? Feuille : Créer un nouvel utilisateur #ModeAdmin #} 

     {% extends 'base.html.twig' %}
     
         {% block metaTitle %}
             " Créer un nouvel utilisateur "
         {% endblock %}

         {% block title %}
             Créer un nouvel utilisateur
         {% endblock %}
         
         {% block body %}

             <main class="Form">  
 
                 <div class="text-center col-12">

                     {# *********************************************** #}

                     <section>

                         <h1> Créer un nouvel utilisateur </h1>
                          
                             <hr/>

                                 <p> 
                                     <em> Vous pouvez créer un nouvel utilisateur manuellement! </em>  📇 
                                 </p>

                             <hr/> 

                     </section>

                     {# *********************************************** #}

                     <article>
           
                         {{ include('user/_form.html.twig') }}

                         <hr/> 

                         <a href="{{ path('user_index') }}" type="submit" class="btn btn-lg  btn-success col-12">
                             Retour à la liste
                         </a>

                     </article>

                     {# *********************************************** #}
        
                 </div>

             </main>     

         {% endblock %}
     